.datum {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;

  top: 10px;
  left: 10px;
}

.datum.selected {
  background-color: var(--color-selected);
}

.datum.sorted {
  background-color: var(--color-sorted);
}

.datum.left {
  background-color: var(--color-left);
}

.datum.right {
  background-color: var(--color-right);
}
