name: Compsci App CI

on:
  push:
    branches:
      - 'main'
    paths:
      - 'apps/compsci/**'
      - '.github/workflows/app-compsci-ci.yaml'
  pull_request:
    branches:
      - 'main'
    paths:
      - 'apps/compsci/**'
      - '.github/workflows/app-compsci-ci.yaml'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
        working-directory: apps/compsci
      - run: npm run check-format
        working-directory: apps/compsci
      - run: npm run lint
        working-directory: apps/compsci
      - run: npm run build --if-present
        working-directory: apps/compsci
      - run: npm test
        working-directory: apps/compsci
