name: Nimbus Labs CI

on:
  push:
    branches:
      - 'main'
    paths:
      - 'apps/compsci/**'
      - '.github/workflows/project-ci.yaml'
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/project-ci.yaml'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: ls && npm ci
      - run: npm run check-format
      - run: npm run lint
